body{
	background-color: #FAFAFA;
}

.logo{
	height: 10em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
}


h3{
	text-align: center;
	margin-top: 0;
}

.entrar{
	background-color: #04B404;
	color: white;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.75em;
}

.btn{
	width: 26ch;
	height: 4em;
}

.input-field.col label{
	color: black;
	font-size: 15px;
}

.pular option{
	margin-top: 80px;
}