body{
    background-color: #FAFAFA;
}

.logo{
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

h3{
    text-align: center;
    margin-top: 0;
}

.row{
   width: 80ch;
}

.cadastrar{
    border: 20px solid #04B404;
    background-color: #04B404;
    width: 26ch;
    height: 4em;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 661px){
    .row{
        width: 40ch;
    }
}